@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

#popu {
    margin-left: 30px;
}

#ad1 {
    background-image: url(https://imgs.search.brave.com/LcsUVNvieig8TTsLDlM3KV1TML8s3K1xqZlgLqR8S0E/rs:fit:680:904:1/g:ce/aHR0cHM6Ly93d3cu/c2VvY2xlcmsuY29t/L3BpY3MvNDk2NDMz/LTFtTnJWRjE0ODA5/ODY3MTAuZ2lm.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-left: 30px;
}

#ad2 {
    background-image: url(https://imgs.search.brave.com/QuisEzrBAqGYk9RuaIBXQUpaBEAuYrLC1RTvAbrk-VA/rs:fit:932:1072:1/g:ce/aHR0cHM6Ly9tZWRp/YTMuZ2lwaHkuY29t/L21lZGlhL2RadVZ3/Qks4eEk0UGFUVWgz/ay9zb3VyY2UuZ2lm.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-left: 30px;
}

body {
    min-height: 100vh;
    background-color: #fafafa;
}

.container {
    /* max-width: 100rem; */
    width: 85%;
    margin: 0 auto;
    padding: 0 2rem 2rem;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}

.nav {
    padding: 3px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.brand-logo {
    height: 50px;


}

.logo {
    display: flex;
    /* text-align: center; */
    align-items: center;
}

.logo span {
    font-family: 'Lobster';
    font-size: 25px;
    color: #7d1534;
}


.nav-items {
    display: flex;
    align-items: center;
    /* color: #7d1534; */

}

.nav-items span {
    color: #7d1534;
}

.nav-items i {
    color: #383838;
}

.search {
    width: 500px;
    display: flex;
    /* margin-left: -100px;
    margin-top: 7px; */
}

.search-box {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #7d1534;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.nav-items a {
    margin-left: 20px;
}

.nav-items a img {
    width: 30px;
}

/* //////// */
@import 'nav.css';

.links-container {
    width: 100%;
    display: flex;
    padding: 15px 15vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
    background-color: #7d1534
}

.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
    transition: .5s;
}

.link:hover {
    opacity: 1;
}



body {
    background-color: #c8c5d6c2;
}

#main-section {
    display: flex;


}

i {
    color: gold;
    margin: 10px 1px;
}

.pagination-wrapper {
    border: 1px dashed #E1E1E1;
    border-radius: 4px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.pagination-wrapper button {
    width: 40px;
    height: 40px;
    gap: 10px;
    border-radius: 5px;
}

#next_btn {
    background-color: red;
    color: white;
    border: none;
    width: 60px;
}

.pagination-wrapper button:hover {
    cursor: pointer;
    background-color: #ed5132;
    border: none;
    transition: 0.3s;
    color: white;

}

#next_btn:hover {
    background-color: white;
    color: black;
}

#next_btn:active {
    background-color: #ed5132;

}

/* #leftside {
    width: 20%;
    /* border: 1px solid red; */


/* #main-section div :nth-child(2) {
    width: 80%; */
/* height: 1000px; */
/* border: 1px solid green; */

#leftside {
    position: sticky;
    top: 0;
    left: 0;
}

#right-side {
    margin: auto;
}

#leftside h1 {
    margin-left: 50px;
    color: #7d1534;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
    margin-bottom: 15px;
    background-color: #9fa5b581;
    padding: 15px;
}

#container>div {
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    width: 250px;
    padding: 15px;

    /* border: 4px solid #9fa5b5; */
}

#container>div:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#container img {
    width: 100%;
}

/* #container h2 {
    color: #055273;
}

#container h4 {
    color: #d80331;
    margin: 5px;
} */

#container p {
    color: #546E7A;

}

#container h4:hover {
    color: #546E7A;
    cursor: pointer;
}

.originalprice {
    color: red;
}

#container h3 {
    color: green;
}

#container h5 {
    color: orange;
}

#container button {
    font-size: 18px;
    width: 120px;
    margin: 10px 0px 0px 0px;
    height: 36px;
    border: 0px;
    color: white;
    background-color: #7d1534;
    border-radius: 0.5em;
}

#container button:hover {
    cursor: pointer;
}

.dropdown {
    min-width: 15rem;
    position: relative;
    margin: 2rem;

}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #7d1534;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #7d1534;
    border-radius: 0.5em;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.select:hover {
    color: black;
    background: white;
}

/* .caret-rotate:hover {
    color: black;
} */

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);

}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #363a43;
    border: 1px solid #363a43;
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2d35;
}

.menu-open {

    display: block;
    transition: 2s;
    opacity: 1;
}

@media (max-width: 961px) {
    #container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media (max-width: 640px) {
    #container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        text-align: center;
        margin-bottom: 15px;
    }
}

/* .cards {
    width: 25%;
    border: 1px solid red;
}

.cards img {
    width: 100%;
} */

#footer {
    background: #f7f7f7;
    /* padding: 3rem; */

    /* padding-top: -7rem; */
    /* padding-bottom: 80px; */
    background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 2px solid red; */
    align-items: first baseline;
    /* text-align: center; */
    width: 100%;
}

#footer-logo {
    width: 80%;
    height: 200px;
}

/* #footer2{
	background: #f7f7f7;
    padding: 3rem;
    margin-top: 0px;
	/* padding-top: 5rem; */
/* padding-top: 7rem;
    padding-bottom: 80px;
	background-image: url(../images/cards/v748-toon-111.png);
} */

/* .social-links{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} */
.social-links h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.social-links img {
    padding-bottom: 25px;
}

.social-icons {
    /* display: flex;
    gap: 3rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #777777;
}

.social-icons a {
    /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
	color: #82074a; */
    /* margin-right: 18px; */
    color: #777777;
}

.social-icons a:hover {
    color: #000;
}

.social-icons a i {
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #7d1534;
    font-size: 16px;
    margin-right: 12px;
}

li {
    list-style: none;
}


.useful-link {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-left: 100px;

    /* align-items:flex-start;
    justify-content:flex-start; */


}

.useful-link h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.useful-link img {
    padding-bottom: 15px;
}

.use-links {
    line-height: 32px;
}

.use-links li i {
    font-size: 14px;
    padding-right: 8px;
    color: #898989;
}

.use-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
}

.use-links li a:hover {
    color: #000;
}

.address h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.address img {
    padding-bottom: 15px;
}

.address-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;

}

.address-links li i {
    font-size: 16px;
    padding-right: 8px;
    color: #7d1534;

}

.address-links li i:nth-child(1) {
    padding-top: 9px;
}

.address-links .address1 {
    font-weight: 500;
    font-size: 15px;
    display: flex;
}

.address-links {
    line-height: 32px;
    color: #777777;
}

.copy-right-sec {
    padding: 1.8rem;
    background: #7d1534;
    color: #fff;
    text-align: center;
}

.copy-right-sec a {
    color: #fcd462;
    font-weight: 500;
}

a {
    text-decoration: none;
}



.footer-about p {
    font-family: 'Cherry Swash';
}

/* footer section end */